/*
    CSS File to style my Homepage
*/
.centered
{
    text-align: center;
}

.large
{
    font-size: 150%;
}

.medium
{
    font-size: 125%;
}

.small
{
    font-size:50%;
}

pre 
{ 
    font-family: monospace; 
}

code 
{ 
    font-family: Consolas,"courier new";
    color: Blue;
    padding: 4px;
    font-size: 105%;
}

body
{
    font-family: Helvetica, sans-serif;
    color: #000;
    padding: 8px;
    font-size: 125%;
}

