/*
    CSS File to style my Homepage
*/
.centered
{
    text-align: center;
}

.left
{
    text-align: left;
}

.right
{
    text-align: right;
}
.large
{
    font-size: 24pt;
    line-height: 32pt;
}

.medium
{
    font-size: 12pt;
    line-height: 24pt;
}

.small
{
    font-size:8pt;
    line-height: 16pt;
}

/*
    Bootstrap destroys all my formatting...
    I am not even able to determine the font.
    I'll use it only for this exercise.
*/
pre
{
    overflow-y:hidden;
    box-shadow: none;
    border: none;
    font-family: "Courier New",monospace;
    font-size:initial;
    color: #800000;
    padding: initial auto;
    line-height: initial;
}

header
{
    font-size: 24pt;
    line-height: 32pt;
}

main
{
    font-size: 12pt;
    line-height: 24pt;
}

footer
{
    font-size:8pt;
    line-height: 16pt;
}



code
{
    overflow-y:hidden;
    font-family: "Courier New",monospace;
    font-size: 12pt;
    line-height: 14pt;
    color: #800000;
    padding-top: 14pt;
    padding-right: 12pt;
    padding-bottom: 14pt;
    padding-left: 48pt;
}

body
{
    font-family: Helvetica, sans-serif;
    color: #000;
    margin: 0;
    width: 21cm;
    padding: 1cm;
    margin: 1cm auto;

}

li[class] 
{
    font-size: 100%;
}

li[class="a"] 
{
    color: #FF0000;
}

a[class="grayed"]
{
    color: silver;
}
